.checkout-cart-detail{
    background-color: #f0f2f5;
    margin-right: 40px;
}
.checkout-cart-detail-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 10px 40px;
    font-size: 40px;
}
.cart-number{
    display: flex;
    align-items: center;
}
.ant-row .ant-form-item .checkout-sum{
    margin: 20px 0 20px 10px !important;
    font-weight: bold !important;
}
.btn-checkout{
    margin-left: 10px;
}
.group-btn-checkout{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

